name: Update PSGallery on merge to master
on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Build module
        shell: powershell
        run: |
          .\build\Invoke-ModuleBuild.ps1
      - name: Publishing module
        shell: powershell
        run: |
            Publish-Module -Path .\output\ISEPester -NuGetApiKey ${{ secrets.PSGallery }}